@font-face {
  font-family: "Raleway";
  src:
    url("./fonts/Raleway-latin_latin-ext-regular.woff") format("woff"),
    url("./fonts/Raleway-latin_latin-ext-700.woff") format("woff"),
    url("./fonts/Raleway-latin_latin-ext-900.woff") format("woff"),
}

@font-face {
  font-family: "Roboto";
  src:
    url("./fonts/RobotoCondensed-latin_latin-ext-regular.woff") format("woff"),
}

html, body {
    background-color: #2C2C2C;    
    color: #F0EBEC;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Raleway', 'Roboto', Arial, sans-serif; 
}

header, footer {
    background-color: #45454D;
    margin: 0;
    padding: 1rem;
}

footer {
    text-align: center;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: underline;
    font-family: 'Roboto', 'Raleway', Arial, sans-serif;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.d-block {
    display: block;
}

.skip {
    color: transparent;
}

.skip:focus {
    color: inherit;
}
